{% extends 'base.html.twig' %}

{% block title %}Calendar index
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content" class="justify-content-center bg-light">
		<main>
			<div class="container-fluid px-4">
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="card mb-4">
							<div class="card-header">
								<h3 class="text-center">Liste des rendez vous</h3>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Id</th>
										<th>Titre</th>
										<th>Début</th>
										<th>Fin</th>
										<th>Motif</th>
										<th>All day</th>
										<th>Background_color</th>
										<th>Border_color</th>
										<th>Text_color</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for calendar in calendars %}
										<tr>
											<td>{{ calendar.id }}</td>
											<td>{{ calendar.title }}</td>
											<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
											<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
											<td>{{ calendar.description }}</td>
											<td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
											<td>{{ calendar.backgroundColor }}</td>
											<td>{{ calendar.borderColor }}</td>
											<td>{{ calendar.textColor }}</td>
											<td>
												<a href="{{ path('calendar_show', {'id': calendar.id}) }}">show</a>
												<a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="10">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
                            <nav aria-label="Page navigation">
								<ul
									class="pagination">
									{# Previous page link #}
									<li class="page-item {% if currentPage <= 1 %}disabled{% endif %}">
										<a class="page-link" href="{{ path('calendar_index', {'page': currentPage - 1}) }}" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>

									{# Page numbers #}
									{% for i in 1..totalPages %}
										<li class="page-item {% if i == currentPage %}active{% endif %}">
											<a class="page-link" href="{{ path('calendar_index', {'page': i}) }}">{{ i }}</a>
										</li>
									{% endfor %}

									{# Next page link #}
									<li class="page-item {% if currentPage >= totalPages %}disabled{% endif %}">
										<a class="page-link" href="{{ path('calendar_index', {'page': currentPage + 1}) }}" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>

							<a href="{{ path('calendar_new') }}">Create new</a>
							<a href="{{ path('app_conseiller') }}">Retour au dashboard</a>
						</div>

					</div>
				</div>

			</div>
		</main>
	</div>
{% endblock %}
