{% extends 'base.html.twig' %}

{% block title %}Calendar
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content" class="justify-content-center bg-light">
		<main>
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="container-fluid px-4">
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="card mb-4">
							<div class="card-header">
								<h3 class="text-center">Synthèse du rendez vous</h3>
							</div>
							<table class="table">
								<tbody>
									
									<tr>
										<th>Titre</th>
										<td>{{ calendar.title }}</td>
									</tr>
									<tr>
										<th>Nom du client</th>
										<td>{{ calendar.clients.getFullName() }}</td>
									</tr>
									<tr>
										<th>Nom du conseiller</th>
										<td>{{ calendar.users.getFullName() }}</td>
									</tr>
									<tr>
										<th>Début</th>
										<td>{{ calendar.start ? calendar.start|date('d-m-Y H:i:s') : '' }}</td>
									</tr>
									<tr>
										<th>Fin</th>
										<td>{{ calendar.end ? calendar.end|date('d-m-Y H:i:s') : '' }}</td>
									</tr>
									<tr>
										<th>Motif</th>
										<td>{{ calendar.description }}</td>
									</tr>
									<tr>
										<th>Toute la journée</th>
										<td>{{ calendar.allDay ? 'Oui' : 'Non' }}</td>
									</tr>
									<tr>
										<th>Background_color</th>
										<td>{{ calendar.backgroundColor }}</td>
									</tr>

								</tbody>
							</table>
							<div></div>
							<a href="{{ path('calendar_index') }}">back to list</a>

							<a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>

							{{ include('calendar/_delete_form.html.twig') }}
						</div>
						<div class="card mb-4">
							<div class="card-header">
								<h3 class="text-center">Création d'un compte ou contrat</h3>
							</div>
							<a href="{{ path('calendar_accept', {'id': calendar.id}) }}" class="btn btn-success">Accepter</a>
							<a href="{{ path('calendar_reject', {'id': calendar.id}) }}" class="btn btn-danger">Rejeter</a>

						</div>

					</div>
				</div>

			</div>
		</main>
	</div>
{% endblock %}
