{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<nav
		class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		{% if app.user %}
			<a class="navbar-brand ps-3" href="index.html">{{ app.user.firstname }}
				{{ app.user.lastname }}</a>
		{% else %}
			<a class="navbar-brand ps-3" href="index.html">Invité</a>
		{% endif %}
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-user fa-fw"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="#!">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="#!">Activity Log</a>
					</li>
					<li><hr class="dropdown-divider"/></li>
					<li>
						<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Core</div>
						<a class="nav-link" href="index.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div>
							Dashboard
						</a>
						<div class="sb-sidenav-menu-heading">Ajout</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div>
							Client
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="sb-sidenav-menu-heading">Interface</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div>
							Layouts
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="layout-static.html">Static Navigation</a>
								<a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
							<div class="sb-nav-link-icon">
								<i class="fas fa-book-open"></i>
							</div>
							Employé
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
									Authentication
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="{{ path('app_login') }}">Login</a>
										<a class="nav-link" href="{{ path('user_ajout') }}">Register</a>
										<a class="nav-link" href="password.html">Forgot Password</a>
									</nav>
								</div>
								{% if app.user %}
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseEmploye" aria-expanded="false" aria-controls="pagesCollapseEmploye">
										Modification
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>

									<div class="collapse" id="pagesCollapseEmploye" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="{{ path('user_edit', {'id': app.user.id}) }}">Login</a>
											<a class="nav-link" href="404.html">Mot de passe</a>
										</nav>
									</div>
								{% endif %}
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Addons</div>
						<a class="nav-link" href="charts.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div>
							Charts
						</a>
						<a class="nav-link" href="tables.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div>
							Tables
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					{% if app.user %}
						<div class="small">Connecté en tant que :
							{{ app.user.username }}</div>
						<div class="small">Rôles :
							{% for role in app.user.roles %}
								{{ role }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</div>
					{% else %}
						<div class="small">Vous n'êtes pas connecté.</div>
					{% endif %}
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Dashboard</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body">Primary Card</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="#">View Details</a>
									<div class="small text-white">
										<i class="fas fa-angle-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body">Warning Card</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="#">View Details</a>
									<div class="small text-white">
										<i class="fas fa-angle-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-success text-white mb-4">
								<div class="card-body">Success Card</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="#">View Details</a>
									<div class="small text-white">
										<i class="fas fa-angle-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-danger text-white mb-4">
								<div class="card-body">Danger Card</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="#">View Details</a>
									<div class="small text-white">
										<i class="fas fa-angle-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<i class="fa-solid fa-solid fa-user me-1"></i>
											Utilisateurs
										</div>
										<form action="{{ path('user_ajout') }}" method="post">
											<button type="submit" class="btn btn-success">Créer</button>
										</form>
									</div>
								</div>

								<table class="table">
									<thead>
										<tr class="text-center">
											<th>ID</th>
											<th>Login</th>
											<th></th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for user in users %}
											<tr class="text-center">
												<td>{{ user.id }}</td>
												<td>{{ user.username }}</td>
												<td></td>
												<td>

													<form action="{{ path('user_edit', {'id': user.id}) }}" method="post" style="display: inline;">
														<button type="submit" class="btn btn-warning">Modifier</button>
													</form>
													|
													<form action="{{ path('user_delete', {'id': user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" style="display: inline;">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
														<button type="submit" class="btn btn-danger">Supprimer</button>
													</form>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucun utilisateur trouvé.</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<i class="fa-solid fa-solid fa-user me-1"></i>
											Clients
										</div>
										<form action="{{ path('client_ajout') }}" method="post">
											<button type="submit" class="btn btn-success">Créer</button>
										</form>
									</div>
								</div>

								<table class="table">
									<thead>
										<tr class="text-center">
											<th>ID</th>
											<th>Nom du Client</th>
											<th></th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for client in clients %}
											<tr class="text-center">
												<td>{{ client.id }}</td>
												<td>{{ client.nomClient }}</td>
												<td></td>
												<td>

													<form action="{{ path('client_edit', {'id': client.id}) }}" method="post" style="display: inline;">
														<button type="submit" class="btn btn-warning">Modifier</button>
													</form>
													|
													<form action="{{ path('client_delete', {'id': client.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');" style="display: inline;">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
														<button type="submit" class="btn btn-danger">Supprimer</button>
													</form>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucun client trouvé.</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<i class="fa-solid fa-solid fa-user me-1"></i>
											Liste des pièces justificatifs
										</div>
										<form action="{{ path('ajout_piece') }}" method="post">
											<button type="submit" class="btn btn-success">Créer</button>
										</form>
									</div>
								</div>

								<table class="table">
									<thead>
										<tr class="text-center">
											<th>ID</th>
											<th>Pièce justificatif</th>
											<th></th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for piece in pieces %}
											<tr class="text-center">
												<td>{{ piece.id }}</td>
												<td>{{ piece.nomPieceJustif }}</td>
												<td></td>
												<td>

													<form action="{{ path('piece_edit', {'id': piece.id}) }}" method="post" style="display: inline;">
														<button type="submit" class="btn btn-warning">Modifier</button>
													</form>
													|
													<form action="{{ path('piece_delete', {'id': piece.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette pièce ?');" style="display: inline;">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
														<button type="submit" class="btn btn-danger">Supprimer</button>
													</form>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucune pièce justificatif.</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<i class="fa-solid fa-file-contract me-1"></i>
											Contrats
										</div>
										<form action="{{ path('ajout_contrat') }}" method="post">
											<button type="submit" class="btn btn-success">Créer</button>
										</form>
									</div>

								</div>
								<table class="table">
									<thead>
										<tr class="text-center">
											<th>ID</th>
											<th>Nom du Contrat</th>
											<th></th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for contrat in contrats %}
											<tr class="text-center">
												<td>{{ contrat.id }}</td>
												<td>{{ contrat.nomContrat }}</td>
												<td></td>
												<td>

													<form action="{{ path('contrat_edit', {'id': contrat.id}) }}" method="post" style="display: inline;">
														<button type="submit" class="btn btn-warning">Modifier</button>
													</form>
													|
													<form action="{{ path('contrat_delete', {'id': contrat.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');" style="display: inline;">
														<button type="submit" class="btn btn-danger">Supprimer</button>
													</form>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucun contrat trouvé.</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<i class="fa-solid fa-table me-1"></i>
									Rendez vous
								</div>
								<form action="{{ path('calendar_new') }}" method="post">
									<button type="submit" class="btn btn-success">Ajouter</button>
								</form>
							</div>
						</div>
						<div class="card-body">
							<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2023</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</body></div>{% block script %}
<script>
	document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
locale: 'fr',
timeZone: 'Europe/Paris',
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek'
},
events: {{ data | raw }},
editable: true,
eventResizableFromStart: true,
eventDidMount: function (info) {
// Utilisez eventDidMount pour intégrer des fonctionnalités après que l'événement est monté
// Créez un élément pour afficher la description
var tooltip = document.createElement('div');
tooltip.classList.add('tooltip');
tooltip.innerText = info.event.extendedProps.description; // Utilisez extendedProps pour accéder aux champs personnalisés comme la description
info.el.appendChild(tooltip);

// Affichez la description au survol
info.el.addEventListener('mouseenter', function () {
tooltip.style.display = 'block';
});

// Cachez la description lorsque la souris quitte l'événement
info.el.addEventListener('mouseleave', function () {
tooltip.style.display = 'none';
});
}
});

calendar.render();
});
</script>{% endblock %}{% block footer %}
<!-- Pied de page -->{% endblock %}{% endblock %}
