{% extends 'base.html.twig' %}

{% block title %}Choix de(s) pièce justificative(s)
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content" class="justify-content-center bg-light">
		<main>
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="container-fluid px-4 my-4">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="text-center text-white my-2">Choix de(s) pièce(s) justificative(s) : {{ motif.libelleMotif }}</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {% for pieceJustif in form.motifPj %}
                                <div class="form-check mb-2">
                                    {{ form_widget(pieceJustif, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(pieceJustif, null, {'attr': {'class': 'form-check-label'}}) }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-success">Valider la sélection</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

			</div>
		</main>
	</div>
{% endblock %}
